body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("img/background7.webp");
}
.all{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    font-family: 'Amatic SC', cursive;
    font-size: 80px;
    margin: 0;
    margin-bottom: 20px;
}
h6{
    font-size: 18px;
    margin: 0px;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    background-color: rgba(255, 228, 196, 0.554);
    
    border-bottom-width: 30px;
    margin-bottom: 50px;
    border-radius: 50px;
}
.principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d8875539;
    border-radius: 50px;
    height: 496px;
    width: 500px;
}

.side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 496px;
    width: 200px;
    background-color: rgba(255, 249, 240, 0.394);
    border-radius: 50px;
}
.inputColor{
    background: white;
    box-shadow: 1em 1em 1em rgba(0, 0, 0, .1);
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.inputColor .info{
    padding-left: 5px;
    
}

.inputText{
    font: 2.2vh Helvetica-Neue, Helvetica, sans-serif;
    margin: 0;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
}
.colorText{
    font: 2.2vh Helvetica-Neue, Helvetica, sans-serif;
    font-weight: normal;
    margin: 0;
    font-size: 10px;
    padding-bottom: 3px;
}
input[type="color"] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
    border: 0;
    cursor: pointer;
    height: 80px;
    padding: 0;
    width: 80px;
}


.header{
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    margin: 0;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 25px;
    font-weight: 400;
}   
.grid{
    width: 400px;
    height: 400px;
    border-style: solid;
    border-color: black;
    margin: 10px;
    margin-top: 10px;
    background-color: beige;
}

.range{
    -webkit-appearance: none;
    appearance: none;
    background: rgba(157, 122, 67, 0.632);
    height: 5px;
    border-radius: 3px;
    margin-left: 10px;

    margin-right: 10px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    background-color: #d88755;
    height: 15px;
    width: 15px;   
    border-radius: 50px; 
 }

.value{
    width: 70px;
    font-size: 16px;
}

#select,
.reset{
    background-color: rgba(138, 97, 32, 0.632);
    color: bisque;
    border-radius: 5px;
    border: none;
    width: 55px;
    height: 30px;
}

.reset{
    margin-bottom: 50px;
    background-color: rgba(138, 97, 32, 0.862);
    height: 40px;
}

.footer-heart{
    text-align:center;
    font: 2.2vh Helvetica-Neue, Helvetica, sans-serif;

}

.footer-heart a{
    border-bottom: 1px solid #ffd395;
    color: #b17336;padding-bottom: .25em; 
    text-decoration: none;
}

.footer-heart a:hover{
    color:#bb745d; background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 20%;
    border-bottom: 0;
    padding-bottom: .3em;
    text-decoration: none;
}

@media screen and (max-width: 800px){
    .header{
        width: 80%;
    }
    .grid{
        width: 80%;
        height: 70%;
    }
    .range{
        width: 100px;
    }
    .content{
        width: 80%;
        height: 80%;
    }
}

@media screen and (max-width: 600px){
    .content{
        flex-direction: column;
        align-items: center;
        height: fit-content;
        margin-left: 10%;
    }
    .title{
        margin-left: 10%;
    }
    .side{
        height: fit-content;
        
    }
    .principal{width: 100%;}
    .reset{margin-bottom: 10px;}

}

@media screen and (max-width: 550px) {
    .header{
        width: 80%;
    }
    .grid{
        width: 80%;
        height: 70%;
    }
    h6,
    .value{
        font-size: 50%;
    }
    .range{
        width: 100px;
    }

}
@media screen and (max-width: 400px) {
    .header{
        width: 80%;
    }
    .title{
        margin-left: 0;
    }
    .grid{
        width: 90%;
        height: 80%;
    }
    .content{
        width: fit-content;
        height: fit-content;
        margin-left: 0;
    }
    .principal{
        height: 400px;
    }
    h6,
    .value{
        font-size: 50%;
    }
    .range{
        width: 100px;
    }

}